.color-cyan {
   color: $color-cyan;
}

.color-bright-yellow {
   color: $color-bright-yellow;
}

.color-light-gray {
   color: $color-light-gray;
}

.color-grayis-blue {
   color: $color-grayis-blue;
}

.color-white {
   color: $color-white;
}
